body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1349px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1212px;
}
#u820 {
  position:absolute;
  left:221px;
  top:82px;
  width:1px;
  height:1211px;
}
#u821 {
  position:absolute;
  left:2px;
  top:598px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u822 {
  position:absolute;
  left:90px;
  top:199px;
  width:43px;
  height:14px;
  color:#1E1E1E;
}
#u823 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:84px;
}
#u824 {
  position:absolute;
  left:43px;
  top:105px;
  width:145px;
  height:84px;
}
#u825 {
  position:absolute;
  left:2px;
  top:34px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:81px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u827 {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:81px;
}
#u828 {
  position:absolute;
  left:2px;
  top:32px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:28px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u829 {
  position:absolute;
  left:89px;
  top:27px;
  width:300px;
  height:28px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u830 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:29px;
}
#u831 {
  position:absolute;
  left:43px;
  top:24px;
  width:36px;
  height:28px;
}
#u832 {
  position:absolute;
  left:2px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:20px;
}
#u833 {
  position:absolute;
  left:21px;
  top:623px;
  width:183px;
  height:20px;
  color:#A1A1A1;
  text-align:center;
  line-height:20px;
}
#u834 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
}
#u835 {
  position:absolute;
  left:70px;
  top:643px;
  width:69px;
  height:20px;
}
#u836 {
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u838 {
  position:absolute;
  left:0px;
  top:336px;
  width:223px;
  height:54px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u838_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u838.mouseOver {
}
#u838_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u838.mouseDown {
}
#u838_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u838.selected {
}
#u839 {
  position:absolute;
  left:2px;
  top:13px;
  width:219px;
  word-wrap:break-word;
}
#u840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u840 {
  position:absolute;
  left:0px;
  top:282px;
  width:223px;
  height:54px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u840_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u840.mouseOver {
}
#u840_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u840.mouseDown {
}
#u840_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u840.selected {
}
#u841 {
  position:absolute;
  left:2px;
  top:13px;
  width:219px;
  word-wrap:break-word;
}
#u842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u842 {
  position:absolute;
  left:0px;
  top:390px;
  width:223px;
  height:54px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u842_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u842.mouseOver {
}
#u842_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u842.mouseDown {
}
#u842_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u842.selected {
}
#u843 {
  position:absolute;
  left:2px;
  top:13px;
  width:219px;
  word-wrap:break-word;
}
#u844 {
  position:absolute;
  left:222px;
  top:161px;
  width:420px;
  height:442px;
  overflow:hidden;
}
#u844_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:442px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u844_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u845 {
  position:absolute;
  left:83px;
  top:99px;
  width:25px;
  height:17px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u846 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u847 {
  position:absolute;
  left:83px;
  top:44px;
  width:25px;
  height:14px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u848 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u849 {
  position:absolute;
  left:83px;
  top:70px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u850 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u851 {
  position:absolute;
  left:263px;
  top:42px;
  width:25px;
  height:14px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u852 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u853 {
  position:absolute;
  left:263px;
  top:67px;
  width:29px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u854 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u855 {
  position:absolute;
  left:263px;
  top:98px;
  width:25px;
  height:14px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u856 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u857 {
  position:absolute;
  left:83px;
  top:317px;
  width:49px;
  height:14px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u858 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u859 {
  position:absolute;
  left:83px;
  top:343px;
  width:49px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u860 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u861 {
  position:absolute;
  left:263px;
  top:313px;
  width:73px;
  height:14px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u862 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:49px;
}
#u863 {
  position:absolute;
  left:263px;
  top:340px;
  width:61px;
  height:49px;
}
#u864 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u865 {
  position:absolute;
  left:83px;
  top:251px;
  width:64px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u866 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u867 {
  position:absolute;
  left:263px;
  top:177px;
  width:37px;
  height:14px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u868 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u869 {
  position:absolute;
  left:263px;
  top:202px;
  width:43px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u870 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u871 {
  position:absolute;
  left:83px;
  top:276px;
  width:89px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u872 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u873 {
  position:absolute;
  left:83px;
  top:126px;
  width:78px;
  height:22px;
}
#u873_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u873_input:disabled {
  color:grayText;
}
#u874 {
  position:absolute;
  left:263px;
  top:126px;
  width:78px;
  height:22px;
}
#u874_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u874_input:disabled {
  color:grayText;
}
#u875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u875 {
  position:absolute;
  left:83px;
  top:177px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u876 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u877 {
  position:absolute;
  left:83px;
  top:204px;
  width:78px;
  height:22px;
}
#u877_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u877_input:disabled {
  color:grayText;
}
#u878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u878 {
  position:absolute;
  left:263px;
  top:251px;
  width:49px;
  height:14px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u879 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u880 {
  position:absolute;
  left:263px;
  top:272px;
  width:50px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u881 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u844_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:442px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u844_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u882 {
  position:absolute;
  left:167px;
  top:433px;
  width:98px;
  height:35px;
  color:#666666;
}
#u883 {
  position:absolute;
  left:2px;
  top:4px;
  width:94px;
  word-wrap:break-word;
}
#u884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:35px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(61, 185, 160, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u884 {
  position:absolute;
  left:29px;
  top:433px;
  width:98px;
  height:35px;
  color:#FFFFFF;
}
#u885 {
  position:absolute;
  left:2px;
  top:4px;
  width:94px;
  word-wrap:break-word;
}
#u886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u886 {
  position:absolute;
  left:104px;
  top:53px;
  width:85px;
  height:14px;
  font-size:12px;
  color:#FF0000;
}
#u887 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u888 {
  position:absolute;
  left:15px;
  top:28px;
  width:71px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u889 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u890 {
  position:absolute;
  left:104px;
  top:21px;
  width:300px;
  height:33px;
}
#u890_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u891 {
  position:absolute;
  left:13px;
  top:201px;
  width:71px;
  height:14px;
}
#u892 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u893 {
  position:absolute;
  left:41px;
  top:92px;
  width:43px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u894 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u895 {
  position:absolute;
  left:102px;
  top:91px;
  width:155px;
  height:22px;
}
#u895_input {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u895_input:disabled {
  color:grayText;
}
#u896 {
  position:absolute;
  left:101px;
  top:195px;
  width:300px;
  height:33px;
}
#u896_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u897 {
  position:absolute;
  left:7px;
  top:335px;
  width:79px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u898 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u899 {
  position:absolute;
  left:106px;
  top:322px;
  width:50px;
  height:50px;
  font-size:14px;
}
#u900 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(70, 125, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 158, 216, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u901 {
  position:absolute;
  left:176px;
  top:352px;
  width:60px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u902 {
  position:absolute;
  left:2px;
  top:-4px;
  width:56px;
  word-wrap:break-word;
}
#u903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u903 {
  position:absolute;
  left:7px;
  top:266px;
  width:79px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u904 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u905 {
  position:absolute;
  left:106px;
  top:253px;
  width:50px;
  height:50px;
  font-size:14px;
}
#u906 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(70, 125, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 158, 216, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u907 {
  position:absolute;
  left:176px;
  top:283px;
  width:60px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u908 {
  position:absolute;
  left:2px;
  top:-4px;
  width:56px;
  word-wrap:break-word;
}
#u909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u909 {
  position:absolute;
  left:26px;
  top:141px;
  width:57px;
  height:14px;
}
#u910 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u911 {
  position:absolute;
  left:101px;
  top:141px;
  width:300px;
  height:33px;
}
#u911_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u912 {
  position:absolute;
  left:346px;
  top:111px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u913 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1124px;
  height:2px;
}
#u915 {
  position:absolute;
  left:222px;
  top:159px;
  width:1123px;
  height:1px;
  color:#E4E4E4;
}
#u916 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:54px;
}
#u917 {
  position:absolute;
  left:222px;
  top:103px;
  width:98px;
  height:54px;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u918 {
  position:absolute;
  left:2px;
  top:13px;
  width:94px;
  word-wrap:break-word;
}
#u919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#999999;
  text-align:center;
}
#u919 {
  position:absolute;
  left:306px;
  top:571px;
  width:127px;
  height:14px;
  text-decoration:underline;
  color:#999999;
  text-align:center;
}
#u920 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u921 {
  position:absolute;
  left:443px;
  top:198px;
  visibility:hidden;
}
#u921_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:641px;
  height:522px;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u921_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:517px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:18px;
  color:#666666;
}
#u922 {
  position:absolute;
  left:0px;
  top:5px;
  width:641px;
  height:517px;
  font-size:18px;
  color:#666666;
}
#u923 {
  position:absolute;
  left:2px;
  top:12px;
  width:637px;
  word-wrap:break-word;
}
#u924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u924 {
  position:absolute;
  left:342px;
  top:455px;
  width:98px;
  height:35px;
}
#u925 {
  position:absolute;
  left:2px;
  top:4px;
  width:94px;
  word-wrap:break-word;
}
#u926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u926 {
  position:absolute;
  left:190px;
  top:455px;
  width:98px;
  height:35px;
}
#u927 {
  position:absolute;
  left:2px;
  top:4px;
  width:94px;
  word-wrap:break-word;
}
#u928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u928 {
  position:absolute;
  left:199px;
  top:114px;
  width:25px;
  height:17px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u929 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u930 {
  position:absolute;
  left:199px;
  top:59px;
  width:25px;
  height:14px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u931 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u932 {
  position:absolute;
  left:199px;
  top:85px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u933 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u934 {
  position:absolute;
  left:379px;
  top:57px;
  width:25px;
  height:14px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u935 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u936 {
  position:absolute;
  left:379px;
  top:82px;
  width:29px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u937 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u938 {
  position:absolute;
  left:379px;
  top:113px;
  width:25px;
  height:14px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u939 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u940 {
  position:absolute;
  left:199px;
  top:328px;
  width:73px;
  height:14px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u941 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:49px;
}
#u942 {
  position:absolute;
  left:199px;
  top:355px;
  width:61px;
  height:49px;
}
#u943 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u944 {
  position:absolute;
  left:199px;
  top:266px;
  width:64px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u945 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u946 {
  position:absolute;
  left:379px;
  top:192px;
  width:37px;
  height:14px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u947 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u948 {
  position:absolute;
  left:379px;
  top:217px;
  width:43px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u949 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u950 {
  position:absolute;
  left:199px;
  top:291px;
  width:89px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u951 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u952 {
  position:absolute;
  left:199px;
  top:141px;
  width:78px;
  height:22px;
}
#u952_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u952_input:disabled {
  color:grayText;
}
#u953 {
  position:absolute;
  left:379px;
  top:141px;
  width:78px;
  height:22px;
}
#u953_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u953_input:disabled {
  color:grayText;
}
#u954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u954 {
  position:absolute;
  left:199px;
  top:192px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u955 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u956 {
  position:absolute;
  left:199px;
  top:219px;
  width:78px;
  height:22px;
}
#u956_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u956_input:disabled {
  color:grayText;
}
#u957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u957 {
  position:absolute;
  left:379px;
  top:266px;
  width:49px;
  height:14px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u958 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u959 {
  position:absolute;
  left:379px;
  top:287px;
  width:50px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u960 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
