body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1349px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1717px;
}
#u2040 {
  position:absolute;
  left:221px;
  top:82px;
  width:1px;
  height:1716px;
}
#u2041 {
  position:absolute;
  left:2px;
  top:850px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:20px;
}
#u2042 {
  position:absolute;
  left:21px;
  top:641px;
  width:183px;
  height:20px;
  color:#A1A1A1;
  text-align:center;
  line-height:20px;
}
#u2043 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u2044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
}
#u2044 {
  position:absolute;
  left:70px;
  top:661px;
  width:69px;
  height:20px;
}
#u2045 {
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:84px;
}
#u2046 {
  position:absolute;
  left:43px;
  top:105px;
  width:145px;
  height:84px;
}
#u2047 {
  position:absolute;
  left:2px;
  top:34px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2048 {
  position:absolute;
  left:90px;
  top:199px;
  width:59px;
  height:14px;
}
#u2049 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u2051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:81px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2051 {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:81px;
}
#u2052 {
  position:absolute;
  left:2px;
  top:32px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:28px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u2053 {
  position:absolute;
  left:89px;
  top:27px;
  width:300px;
  height:28px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u2054 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:29px;
}
#u2055 {
  position:absolute;
  left:43px;
  top:24px;
  width:36px;
  height:28px;
}
#u2056 {
  position:absolute;
  left:2px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u2058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2058 {
  position:absolute;
  left:0px;
  top:356px;
  width:223px;
  height:54px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2058_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2058.mouseOver {
}
#u2058_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2058.mouseDown {
}
#u2058_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2058.selected {
}
#u2059 {
  position:absolute;
  left:2px;
  top:13px;
  width:219px;
  word-wrap:break-word;
}
#u2060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2060 {
  position:absolute;
  left:0px;
  top:302px;
  width:223px;
  height:54px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2060_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2060.mouseOver {
}
#u2060_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2060.mouseDown {
}
#u2060_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2060.selected {
}
#u2061 {
  position:absolute;
  left:2px;
  top:13px;
  width:219px;
  word-wrap:break-word;
}
#u2062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2062 {
  position:absolute;
  left:0px;
  top:410px;
  width:223px;
  height:54px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2062_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2062.mouseOver {
}
#u2062_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2062.mouseDown {
}
#u2062_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2062.selected {
}
#u2063 {
  position:absolute;
  left:2px;
  top:13px;
  width:219px;
  word-wrap:break-word;
}
#u2064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2064 {
  position:absolute;
  left:0px;
  top:464px;
  width:223px;
  height:54px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2064_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2064.mouseOver {
}
#u2064_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2064.mouseDown {
}
#u2064_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2064.selected {
}
#u2065 {
  position:absolute;
  left:2px;
  top:13px;
  width:219px;
  word-wrap:break-word;
}
#u2066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2066 {
  position:absolute;
  left:0px;
  top:518px;
  width:223px;
  height:54px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2066_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2066.mouseOver {
}
#u2066_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2066.mouseDown {
}
#u2066_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2066.selected {
}
#u2067 {
  position:absolute;
  left:2px;
  top:13px;
  width:219px;
  word-wrap:break-word;
}
#u2069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u2069 {
  position:absolute;
  left:1124px;
  top:29px;
  width:23px;
  height:23px;
}
#u2070 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2071 {
  position:absolute;
  left:1189px;
  top:33px;
  width:43px;
  height:14px;
  color:#FFFFFF;
}
#u2072 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:82px;
}
#u2073 {
  position:absolute;
  left:1084px;
  top:0px;
  width:1px;
  height:81px;
}
#u2074 {
  position:absolute;
  left:2px;
  top:32px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:8px;
}
#u2075 {
  position:absolute;
  left:1296px;
  top:37px;
  width:13px;
  height:8px;
}
#u2076 {
  position:absolute;
  left:2px;
  top:-4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2077 {
  position:absolute;
  left:1084px;
  top:80px;
  visibility:hidden;
}
#u2077_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:261px;
  height:122px;
  background-image:none;
}
#u2077_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u2078 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:61px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u2078_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u2078.mouseOver {
}
#u2079 {
  position:absolute;
  left:28px;
  top:16px;
  width:231px;
  word-wrap:break-word;
}
#u2080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u2080 {
  position:absolute;
  left:0px;
  top:61px;
  width:261px;
  height:61px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u2080_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u2080.mouseOver {
}
#u2081 {
  position:absolute;
  left:28px;
  top:16px;
  width:231px;
  word-wrap:break-word;
}
#u2082 {
  position:absolute;
  left:1084px;
  top:0px;
  width:261px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2083 {
  position:fixed;
  right:150px;
  bottom:20px;
}
#u2083_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:106px;
  height:37px;
  background-image:none;
}
#u2083_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:37px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2084 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:37px;
}
#u2085 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u2086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2086 {
  position:absolute;
  left:295px;
  top:109px;
  width:140px;
  height:40px;
}
#u2087 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u2088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2088 {
  position:absolute;
  left:478px;
  top:109px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2089 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u2090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2090 {
  position:absolute;
  left:662px;
  top:109px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u2091 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u2092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1124px;
  height:2px;
}
#u2092 {
  position:absolute;
  left:222px;
  top:159px;
  width:1123px;
  height:1px;
  color:#E4E4E4;
}
#u2093 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u2094 {
  position:absolute;
  left:230px;
  top:104px;
  width:47px;
  height:47px;
  color:#FFFFFF;
}
#u2095 {
  position:absolute;
  left:2px;
  top:10px;
  width:43px;
  word-wrap:break-word;
}
#u2096 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:190px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2097 {
  position:absolute;
  left:252px;
  top:177px;
  width:183px;
  height:190px;
}
#u2098 {
  position:absolute;
  left:2px;
  top:53px;
  width:179px;
  word-wrap:break-word;
}
#u2099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2099 {
  position:absolute;
  left:297px;
  top:325px;
  width:31px;
  height:32px;
}
#u2100 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u2101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2101 {
  position:absolute;
  left:351px;
  top:325px;
  width:31px;
  height:32px;
}
#u2102 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u2103 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:190px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2104 {
  position:absolute;
  left:470px;
  top:177px;
  width:183px;
  height:190px;
}
#u2105 {
  position:absolute;
  left:2px;
  top:53px;
  width:179px;
  word-wrap:break-word;
}
#u2106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2106 {
  position:absolute;
  left:515px;
  top:325px;
  width:31px;
  height:32px;
}
#u2107 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u2108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2108 {
  position:absolute;
  left:569px;
  top:325px;
  width:31px;
  height:32px;
}
#u2109 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
