body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1349px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:668px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3813 {
  position:absolute;
  left:212px;
  top:83px;
  width:1022px;
  height:668px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3814 {
  position:absolute;
  left:2px;
  top:326px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:912px;
  height:2px;
}
#u3817 {
  position:absolute;
  left:221px;
  top:149px;
  width:911px;
  height:1px;
  color:#D7D7D7;
}
#u3818 {
  position:absolute;
  left:2px;
  top:-8px;
  width:907px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3819 {
  position:absolute;
  left:223px;
  top:228px;
  width:892px;
  height:415px;
}
#u3820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:60px;
}
#u3820 {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:60px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u3821 {
  position:absolute;
  left:2px;
  top:16px;
  width:294px;
  word-wrap:break-word;
}
#u3822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:60px;
}
#u3822 {
  position:absolute;
  left:298px;
  top:0px;
  width:149px;
  height:60px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3823 {
  position:absolute;
  left:2px;
  top:16px;
  width:145px;
  word-wrap:break-word;
}
#u3824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:60px;
}
#u3824 {
  position:absolute;
  left:447px;
  top:0px;
  width:147px;
  height:60px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3825 {
  position:absolute;
  left:2px;
  top:16px;
  width:143px;
  word-wrap:break-word;
}
#u3826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:60px;
}
#u3826 {
  position:absolute;
  left:594px;
  top:0px;
  width:134px;
  height:60px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3827 {
  position:absolute;
  left:2px;
  top:2px;
  width:130px;
  word-wrap:break-word;
}
#u3828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:60px;
}
#u3828 {
  position:absolute;
  left:728px;
  top:0px;
  width:159px;
  height:60px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3829 {
  position:absolute;
  left:2px;
  top:16px;
  width:155px;
  word-wrap:break-word;
}
#u3830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:50px;
}
#u3830 {
  position:absolute;
  left:0px;
  top:60px;
  width:298px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u3831 {
  position:absolute;
  left:2px;
  top:11px;
  width:294px;
  word-wrap:break-word;
}
#u3832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:50px;
}
#u3832 {
  position:absolute;
  left:298px;
  top:60px;
  width:149px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3832_img.selected {
}
#u3832.selected {
}
#u3833 {
  position:absolute;
  left:2px;
  top:17px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:50px;
}
#u3834 {
  position:absolute;
  left:447px;
  top:60px;
  width:147px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3835 {
  position:absolute;
  left:2px;
  top:17px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:50px;
}
#u3836 {
  position:absolute;
  left:594px;
  top:60px;
  width:134px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3837 {
  position:absolute;
  left:2px;
  top:17px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:50px;
}
#u3838 {
  position:absolute;
  left:728px;
  top:60px;
  width:159px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3839 {
  position:absolute;
  left:2px;
  top:17px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:50px;
}
#u3840 {
  position:absolute;
  left:0px;
  top:110px;
  width:298px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u3841 {
  position:absolute;
  left:2px;
  top:11px;
  width:294px;
  word-wrap:break-word;
}
#u3842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:50px;
}
#u3842 {
  position:absolute;
  left:298px;
  top:110px;
  width:149px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3843 {
  position:absolute;
  left:2px;
  top:17px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:50px;
}
#u3844 {
  position:absolute;
  left:447px;
  top:110px;
  width:147px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3845 {
  position:absolute;
  left:2px;
  top:17px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:50px;
}
#u3846 {
  position:absolute;
  left:594px;
  top:110px;
  width:134px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3847 {
  position:absolute;
  left:2px;
  top:17px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:50px;
}
#u3848 {
  position:absolute;
  left:728px;
  top:110px;
  width:159px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3849 {
  position:absolute;
  left:2px;
  top:17px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:50px;
}
#u3850 {
  position:absolute;
  left:0px;
  top:160px;
  width:298px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u3851 {
  position:absolute;
  left:2px;
  top:11px;
  width:294px;
  word-wrap:break-word;
}
#u3852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:50px;
}
#u3852 {
  position:absolute;
  left:298px;
  top:160px;
  width:149px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3853 {
  position:absolute;
  left:2px;
  top:17px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:50px;
}
#u3854 {
  position:absolute;
  left:447px;
  top:160px;
  width:147px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3855 {
  position:absolute;
  left:2px;
  top:17px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:50px;
}
#u3856 {
  position:absolute;
  left:594px;
  top:160px;
  width:134px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3857 {
  position:absolute;
  left:2px;
  top:17px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:50px;
}
#u3858 {
  position:absolute;
  left:728px;
  top:160px;
  width:159px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3859 {
  position:absolute;
  left:2px;
  top:17px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:50px;
}
#u3860 {
  position:absolute;
  left:0px;
  top:210px;
  width:298px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u3861 {
  position:absolute;
  left:2px;
  top:11px;
  width:294px;
  word-wrap:break-word;
}
#u3862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:50px;
}
#u3862 {
  position:absolute;
  left:298px;
  top:210px;
  width:149px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3863 {
  position:absolute;
  left:2px;
  top:17px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:50px;
}
#u3864 {
  position:absolute;
  left:447px;
  top:210px;
  width:147px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3865 {
  position:absolute;
  left:2px;
  top:17px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:50px;
}
#u3866 {
  position:absolute;
  left:594px;
  top:210px;
  width:134px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3867 {
  position:absolute;
  left:2px;
  top:17px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:50px;
}
#u3868 {
  position:absolute;
  left:728px;
  top:210px;
  width:159px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3869 {
  position:absolute;
  left:2px;
  top:17px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:50px;
}
#u3870 {
  position:absolute;
  left:0px;
  top:260px;
  width:298px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u3871 {
  position:absolute;
  left:2px;
  top:11px;
  width:294px;
  word-wrap:break-word;
}
#u3872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:50px;
}
#u3872 {
  position:absolute;
  left:298px;
  top:260px;
  width:149px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3873 {
  position:absolute;
  left:2px;
  top:17px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:50px;
}
#u3874 {
  position:absolute;
  left:447px;
  top:260px;
  width:147px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3875 {
  position:absolute;
  left:2px;
  top:17px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:50px;
}
#u3876 {
  position:absolute;
  left:594px;
  top:260px;
  width:134px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3877 {
  position:absolute;
  left:2px;
  top:17px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:50px;
}
#u3878 {
  position:absolute;
  left:728px;
  top:260px;
  width:159px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3879 {
  position:absolute;
  left:2px;
  top:17px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:50px;
}
#u3880 {
  position:absolute;
  left:0px;
  top:310px;
  width:298px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u3881 {
  position:absolute;
  left:2px;
  top:11px;
  width:294px;
  word-wrap:break-word;
}
#u3882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:50px;
}
#u3882 {
  position:absolute;
  left:298px;
  top:310px;
  width:149px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3883 {
  position:absolute;
  left:2px;
  top:17px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:50px;
}
#u3884 {
  position:absolute;
  left:447px;
  top:310px;
  width:147px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3885 {
  position:absolute;
  left:2px;
  top:17px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:50px;
}
#u3886 {
  position:absolute;
  left:594px;
  top:310px;
  width:134px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3887 {
  position:absolute;
  left:2px;
  top:17px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:50px;
}
#u3888 {
  position:absolute;
  left:728px;
  top:310px;
  width:159px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3889 {
  position:absolute;
  left:2px;
  top:17px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:50px;
}
#u3890 {
  position:absolute;
  left:0px;
  top:360px;
  width:298px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u3891 {
  position:absolute;
  left:2px;
  top:11px;
  width:294px;
  word-wrap:break-word;
}
#u3892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:50px;
}
#u3892 {
  position:absolute;
  left:298px;
  top:360px;
  width:149px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3893 {
  position:absolute;
  left:2px;
  top:17px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:50px;
}
#u3894 {
  position:absolute;
  left:447px;
  top:360px;
  width:147px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3895 {
  position:absolute;
  left:2px;
  top:17px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:50px;
}
#u3896 {
  position:absolute;
  left:594px;
  top:360px;
  width:134px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3897 {
  position:absolute;
  left:2px;
  top:17px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:50px;
}
#u3898 {
  position:absolute;
  left:728px;
  top:360px;
  width:159px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3899 {
  position:absolute;
  left:2px;
  top:17px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3900 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u3901 {
  position:absolute;
  left:230px;
  top:161px;
  width:47px;
  height:47px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3901_img.mouseDown {
}
#u3901.mouseDown {
}
#u3901_img.selected {
}
#u3901.selected {
}
#u3902 {
  position:absolute;
  left:2px;
  top:10px;
  width:43px;
  word-wrap:break-word;
}
#u3903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3903 {
  position:absolute;
  left:287px;
  top:176px;
  width:105px;
  height:14px;
}
#u3903_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:14px;
  background:inherit;
  background-color:rgba(19, 135, 185, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3903.mouseDown {
}
#u3903_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:14px;
  background:inherit;
  background-color:rgba(19, 135, 185, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3903.selected {
}
#u3904 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u3905 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3906 {
  position:absolute;
  left:1024px;
  top:294px;
  width:63px;
  height:16px;
}
#u3907 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3906_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3908 {
  position:absolute;
  left:1024px;
  top:344px;
  width:63px;
  height:16px;
}
#u3909 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3908_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3910 {
  position:absolute;
  left:1024px;
  top:395px;
  width:63px;
  height:16px;
}
#u3911 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3910_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3912 {
  position:absolute;
  left:1024px;
  top:445px;
  width:63px;
  height:16px;
}
#u3913 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3912_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3914 {
  position:absolute;
  left:877px;
  top:294px;
  width:63px;
  height:16px;
}
#u3915 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3914_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3916 {
  position:absolute;
  left:877px;
  top:344px;
  width:63px;
  height:16px;
}
#u3917 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3916_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3918 {
  position:absolute;
  left:877px;
  top:395px;
  width:63px;
  height:16px;
}
#u3919 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3918_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3920 {
  position:absolute;
  left:877px;
  top:445px;
  width:63px;
  height:16px;
}
#u3921 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3920_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3922 {
  position:absolute;
  left:736px;
  top:294px;
  width:63px;
  height:16px;
}
#u3923 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3922_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3924 {
  position:absolute;
  left:736px;
  top:344px;
  width:63px;
  height:16px;
}
#u3925 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3924_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3926 {
  position:absolute;
  left:736px;
  top:395px;
  width:63px;
  height:16px;
}
#u3927 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3926_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3928 {
  position:absolute;
  left:736px;
  top:445px;
  width:63px;
  height:16px;
}
#u3929 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3928_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3930 {
  position:absolute;
  left:587px;
  top:294px;
  width:63px;
  height:16px;
}
#u3931 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3930_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3932 {
  position:absolute;
  left:587px;
  top:344px;
  width:63px;
  height:16px;
}
#u3933 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3932_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3934 {
  position:absolute;
  left:587px;
  top:395px;
  width:63px;
  height:16px;
}
#u3935 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3934_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3936 {
  position:absolute;
  left:587px;
  top:445px;
  width:63px;
  height:16px;
}
#u3937 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3936_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3938 {
  position:absolute;
  left:1024px;
  top:496px;
  width:63px;
  height:16px;
}
#u3939 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3938_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3940 {
  position:absolute;
  left:877px;
  top:496px;
  width:63px;
  height:16px;
}
#u3941 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3940_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3942 {
  position:absolute;
  left:736px;
  top:496px;
  width:63px;
  height:16px;
}
#u3943 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3942_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3944 {
  position:absolute;
  left:587px;
  top:496px;
  width:63px;
  height:16px;
}
#u3945 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3944_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3946 {
  position:absolute;
  left:1024px;
  top:547px;
  width:63px;
  height:16px;
}
#u3947 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3946_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3948 {
  position:absolute;
  left:877px;
  top:547px;
  width:63px;
  height:16px;
}
#u3949 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3948_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3950 {
  position:absolute;
  left:736px;
  top:547px;
  width:63px;
  height:16px;
}
#u3951 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3950_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3952 {
  position:absolute;
  left:587px;
  top:547px;
  width:63px;
  height:16px;
}
#u3953 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3952_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3954 {
  position:absolute;
  left:1024px;
  top:595px;
  width:63px;
  height:16px;
}
#u3955 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3954_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3956 {
  position:absolute;
  left:877px;
  top:595px;
  width:63px;
  height:16px;
}
#u3957 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3956_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3958 {
  position:absolute;
  left:736px;
  top:595px;
  width:63px;
  height:16px;
}
#u3959 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3958_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3960 {
  position:absolute;
  left:587px;
  top:595px;
  width:63px;
  height:16px;
}
#u3961 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3960_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-top:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3962 {
  position:absolute;
  left:581px;
  top:669px;
  width:140px;
  height:40px;
}
#u3963 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u3964 {
  position:absolute;
  left:365px;
  top:547px;
  visibility:hidden;
}
#u3964_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:544px;
  height:261px;
  background-image:none;
}
#u3964_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:261px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u3965 {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:261px;
}
#u3966 {
  position:absolute;
  left:2px;
  top:122px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3967 {
  position:absolute;
  left:256px;
  top:20px;
  width:73px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3968 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:14px;
}
#u3969 {
  position:absolute;
  left:165px;
  top:91px;
  width:128px;
  height:14px;
}
#u3970 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u3971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-top:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3971 {
  position:absolute;
  left:89px;
  top:146px;
  width:140px;
  height:40px;
}
#u3972 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u3973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-top:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3973 {
  position:absolute;
  left:295px;
  top:146px;
  width:140px;
  height:40px;
}
#u3974 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u3976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:81px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3976 {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:81px;
}
#u3977 {
  position:absolute;
  left:2px;
  top:32px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:28px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u3978 {
  position:absolute;
  left:89px;
  top:27px;
  width:300px;
  height:28px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u3979 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u3980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:29px;
}
#u3980 {
  position:absolute;
  left:43px;
  top:24px;
  width:36px;
  height:28px;
}
#u3981 {
  position:absolute;
  left:2px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u3982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3982 {
  position:absolute;
  left:663px;
  top:14px;
  width:137px;
  height:50px;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3982_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3982.mouseOver {
}
#u3982_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3982.mouseDown {
}
#u3982_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3982.selected {
}
#u3983 {
  position:absolute;
  left:2px;
  top:11px;
  width:133px;
  word-wrap:break-word;
}
#u3984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3984 {
  position:absolute;
  left:540px;
  top:14px;
  width:145px;
  height:50px;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3984_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3984.mouseOver {
}
#u3984_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3984.mouseDown {
}
#u3984_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3984.selected {
}
#u3985 {
  position:absolute;
  left:2px;
  top:11px;
  width:141px;
  word-wrap:break-word;
}
#u3986 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3987 {
  position:absolute;
  left:800px;
  top:14px;
  width:126px;
  height:50px;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3987_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3987.mouseOver {
}
#u3987_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3987.mouseDown {
}
#u3987_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3987.selected {
}
#u3988 {
  position:absolute;
  left:2px;
  top:11px;
  width:122px;
  word-wrap:break-word;
}
#u3989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:9px;
}
#u3989 {
  position:absolute;
  left:904px;
  top:35px;
  width:18px;
  height:9px;
  color:#FFFFFF;
}
#u3990 {
  position:absolute;
  left:2px;
  top:-4px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3991 {
  position:absolute;
  left:411px;
  top:14px;
  width:152px;
  height:50px;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3991_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3991.mouseOver {
}
#u3991_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3991.mouseDown {
}
#u3991_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3991.selected {
}
#u3992 {
  position:absolute;
  left:2px;
  top:11px;
  width:148px;
  word-wrap:break-word;
}
#u3993 {
  position:absolute;
  left:800px;
  top:80px;
  visibility:hidden;
}
#u3993_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:126px;
  height:74px;
  background-image:none;
}
#u3993_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3994 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3995 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:37px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3996 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:37px;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3996_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:37px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3996.mouseOver {
}
#u3996_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:37px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3996.mouseDown {
}
#u3996_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:37px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3996.selected {
}
#u3997 {
  position:absolute;
  left:2px;
  top:4px;
  width:122px;
  word-wrap:break-word;
}
#u3998 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:37px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3999 {
  position:absolute;
  left:0px;
  top:37px;
  width:126px;
  height:37px;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3999_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:37px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3999.mouseOver {
}
#u3999_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:37px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3999.mouseDown {
}
#u3999_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:37px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3999.selected {
}
#u4000 {
  position:absolute;
  left:2px;
  top:4px;
  width:122px;
  word-wrap:break-word;
}
#u4002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u4002 {
  position:absolute;
  left:1124px;
  top:29px;
  width:23px;
  height:23px;
}
#u4003 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4004 {
  position:absolute;
  left:1189px;
  top:33px;
  width:43px;
  height:14px;
  color:#FFFFFF;
}
#u4005 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:82px;
}
#u4006 {
  position:absolute;
  left:1084px;
  top:0px;
  width:1px;
  height:81px;
}
#u4007 {
  position:absolute;
  left:2px;
  top:32px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:8px;
}
#u4008 {
  position:absolute;
  left:1296px;
  top:37px;
  width:13px;
  height:8px;
}
#u4009 {
  position:absolute;
  left:2px;
  top:-4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4010 {
  position:absolute;
  left:1084px;
  top:80px;
  width:261px;
  height:251px;
  overflow:hidden;
  visibility:hidden;
}
#u4010_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:251px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4010_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u4011 {
  position:absolute;
  left:0px;
  top:123px;
  width:261px;
  height:61px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u4011_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u4011.mouseOver {
}
#u4012 {
  position:absolute;
  left:28px;
  top:16px;
  width:231px;
  word-wrap:break-word;
}
#u4013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u4013 {
  position:absolute;
  left:0px;
  top:184px;
  width:261px;
  height:61px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u4013_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u4013.mouseOver {
}
#u4014 {
  position:absolute;
  left:28px;
  top:16px;
  width:231px;
  word-wrap:break-word;
}
#u4015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u4015 {
  position:absolute;
  left:-1px;
  top:62px;
  width:261px;
  height:61px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u4015_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u4015.mouseOver {
}
#u4016 {
  position:absolute;
  left:28px;
  top:16px;
  width:231px;
  word-wrap:break-word;
}
#u4017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u4017 {
  position:absolute;
  left:0px;
  top:2px;
  width:261px;
  height:61px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u4017_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u4017.mouseOver {
}
#u4018 {
  position:absolute;
  left:28px;
  top:16px;
  width:231px;
  word-wrap:break-word;
}
#u4019 {
  position:absolute;
  left:1084px;
  top:0px;
  width:261px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#6B6B6B;
  text-align:center;
}
#u4020 {
  position:absolute;
  left:230px;
  top:108px;
  width:274px;
  height:31px;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#6B6B6B;
  text-align:center;
}
#u4021 {
  position:absolute;
  left:0px;
  top:8px;
  width:274px;
  word-wrap:break-word;
}
#u4022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#6B6B6B;
  text-align:center;
}
#u4022 {
  position:absolute;
  left:539px;
  top:108px;
  width:274px;
  height:31px;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#6B6B6B;
  text-align:center;
}
#u4023 {
  position:absolute;
  left:0px;
  top:8px;
  width:274px;
  word-wrap:break-word;
}
#u4024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#6B6B6B;
  text-align:center;
}
#u4024 {
  position:absolute;
  left:849px;
  top:108px;
  width:274px;
  height:31px;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#6B6B6B;
  text-align:center;
}
#u4025 {
  position:absolute;
  left:0px;
  top:8px;
  width:274px;
  word-wrap:break-word;
}
#u4026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-top:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4026 {
  position:absolute;
  left:794px;
  top:669px;
  width:140px;
  height:40px;
}
#u4027 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u4028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:45px;
}
#u4028 {
  position:absolute;
  left:1173px;
  top:83px;
  width:50px;
  height:45px;
}
#u4029 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
