body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1349px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1717px;
}
#u3856 {
  position:absolute;
  left:221px;
  top:82px;
  width:1px;
  height:1716px;
}
#u3857 {
  position:absolute;
  left:2px;
  top:850px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:20px;
}
#u3858 {
  position:absolute;
  left:21px;
  top:641px;
  width:183px;
  height:20px;
  color:#A1A1A1;
  text-align:center;
  line-height:20px;
}
#u3859 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u3860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
}
#u3860 {
  position:absolute;
  left:70px;
  top:661px;
  width:69px;
  height:20px;
}
#u3861 {
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:84px;
}
#u3862 {
  position:absolute;
  left:43px;
  top:105px;
  width:145px;
  height:84px;
}
#u3863 {
  position:absolute;
  left:2px;
  top:34px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3864 {
  position:absolute;
  left:90px;
  top:199px;
  width:59px;
  height:14px;
}
#u3865 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u3867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:81px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3867 {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:81px;
}
#u3868 {
  position:absolute;
  left:2px;
  top:32px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:28px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u3869 {
  position:absolute;
  left:89px;
  top:27px;
  width:300px;
  height:28px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u3870 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u3871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:29px;
}
#u3871 {
  position:absolute;
  left:43px;
  top:24px;
  width:36px;
  height:28px;
}
#u3872 {
  position:absolute;
  left:2px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u3874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u3874 {
  position:absolute;
  left:1124px;
  top:29px;
  width:23px;
  height:23px;
}
#u3875 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3876 {
  position:absolute;
  left:1189px;
  top:33px;
  width:43px;
  height:14px;
  color:#FFFFFF;
}
#u3877 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:82px;
}
#u3878 {
  position:absolute;
  left:1084px;
  top:0px;
  width:1px;
  height:81px;
}
#u3879 {
  position:absolute;
  left:2px;
  top:32px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:8px;
}
#u3880 {
  position:absolute;
  left:1296px;
  top:37px;
  width:13px;
  height:8px;
}
#u3881 {
  position:absolute;
  left:2px;
  top:-4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3882 {
  position:absolute;
  left:1084px;
  top:80px;
  width:261px;
  height:251px;
  overflow:hidden;
  visibility:hidden;
}
#u3882_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:251px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3882_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u3883 {
  position:absolute;
  left:0px;
  top:123px;
  width:261px;
  height:61px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u3883_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u3883.mouseOver {
}
#u3884 {
  position:absolute;
  left:28px;
  top:16px;
  width:231px;
  word-wrap:break-word;
}
#u3885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u3885 {
  position:absolute;
  left:0px;
  top:184px;
  width:261px;
  height:61px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u3885_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u3885.mouseOver {
}
#u3886 {
  position:absolute;
  left:28px;
  top:16px;
  width:231px;
  word-wrap:break-word;
}
#u3887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u3887 {
  position:absolute;
  left:-1px;
  top:62px;
  width:261px;
  height:61px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u3887_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u3887.mouseOver {
}
#u3888 {
  position:absolute;
  left:28px;
  top:16px;
  width:231px;
  word-wrap:break-word;
}
#u3889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u3889 {
  position:absolute;
  left:0px;
  top:2px;
  width:261px;
  height:61px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u3889_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u3889.mouseOver {
}
#u3890 {
  position:absolute;
  left:28px;
  top:16px;
  width:231px;
  word-wrap:break-word;
}
#u3891 {
  position:absolute;
  left:1084px;
  top:0px;
  width:261px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3893 {
  position:absolute;
  left:0px;
  top:356px;
  width:223px;
  height:54px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3893_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3893.mouseOver {
}
#u3893_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3893.mouseDown {
}
#u3893_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3893.selected {
}
#u3894 {
  position:absolute;
  left:2px;
  top:13px;
  width:219px;
  word-wrap:break-word;
}
#u3895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3895 {
  position:absolute;
  left:0px;
  top:302px;
  width:223px;
  height:54px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3895_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3895.mouseOver {
}
#u3895_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3895.mouseDown {
}
#u3895_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3895.selected {
}
#u3896 {
  position:absolute;
  left:2px;
  top:13px;
  width:219px;
  word-wrap:break-word;
}
#u3897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3897 {
  position:absolute;
  left:0px;
  top:410px;
  width:223px;
  height:54px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3897_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3897.mouseOver {
}
#u3897_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3897.mouseDown {
}
#u3897_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3897.selected {
}
#u3898 {
  position:absolute;
  left:2px;
  top:13px;
  width:219px;
  word-wrap:break-word;
}
#u3899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3899 {
  position:absolute;
  left:0px;
  top:464px;
  width:223px;
  height:54px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3899_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3899.mouseOver {
}
#u3899_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3899.mouseDown {
}
#u3899_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3899.selected {
}
#u3900 {
  position:absolute;
  left:2px;
  top:13px;
  width:219px;
  word-wrap:break-word;
}
#u3901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3901 {
  position:absolute;
  left:0px;
  top:518px;
  width:223px;
  height:54px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3901_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3901.mouseOver {
}
#u3901_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3901.mouseDown {
}
#u3901_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3901.selected {
}
#u3902 {
  position:absolute;
  left:2px;
  top:13px;
  width:219px;
  word-wrap:break-word;
}
#u3903 {
  position:absolute;
  left:492px;
  top:496px;
  visibility:hidden;
}
#u3903_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:544px;
  height:261px;
  background-image:none;
}
#u3903_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:261px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u3904 {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:261px;
}
#u3905 {
  position:absolute;
  left:2px;
  top:122px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3906 {
  position:absolute;
  left:256px;
  top:20px;
  width:73px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3907 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:14px;
}
#u3908 {
  position:absolute;
  left:165px;
  top:91px;
  width:128px;
  height:14px;
}
#u3909 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u3910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3910 {
  position:absolute;
  left:89px;
  top:146px;
  width:140px;
  height:40px;
}
#u3911 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u3912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3912 {
  position:absolute;
  left:295px;
  top:146px;
  width:140px;
  height:40px;
}
#u3913 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u3914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:2px;
}
#u3914 {
  position:absolute;
  left:221px;
  top:149px;
  width:1124px;
  height:1px;
  color:#D7D7D7;
}
#u3915 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
}
#u3916 {
  position:absolute;
  left:230px;
  top:114px;
  width:301px;
  height:31px;
  font-family:'等线 Bold', '等线 Regular', '等线';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
}
#u3917 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  word-wrap:break-word;
}
#u3918 {
  position:absolute;
  left:223px;
  top:228px;
  width:892px;
  height:405px;
}
#u3919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:50px;
}
#u3919 {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u3920 {
  position:absolute;
  left:2px;
  top:11px;
  width:294px;
  word-wrap:break-word;
}
#u3921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:50px;
}
#u3921 {
  position:absolute;
  left:298px;
  top:0px;
  width:149px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3922 {
  position:absolute;
  left:2px;
  top:11px;
  width:145px;
  word-wrap:break-word;
}
#u3923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:50px;
}
#u3923 {
  position:absolute;
  left:447px;
  top:0px;
  width:147px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3924 {
  position:absolute;
  left:2px;
  top:11px;
  width:143px;
  word-wrap:break-word;
}
#u3925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:50px;
}
#u3925 {
  position:absolute;
  left:594px;
  top:0px;
  width:134px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3926 {
  position:absolute;
  left:2px;
  top:-3px;
  width:130px;
  word-wrap:break-word;
}
#u3927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:50px;
}
#u3927 {
  position:absolute;
  left:728px;
  top:0px;
  width:159px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3928 {
  position:absolute;
  left:2px;
  top:11px;
  width:155px;
  word-wrap:break-word;
}
#u3929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:50px;
}
#u3929 {
  position:absolute;
  left:0px;
  top:50px;
  width:298px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u3930 {
  position:absolute;
  left:2px;
  top:11px;
  width:294px;
  word-wrap:break-word;
}
#u3931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:50px;
}
#u3931 {
  position:absolute;
  left:298px;
  top:50px;
  width:149px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3931_img.selected {
}
#u3931.selected {
}
#u3932 {
  position:absolute;
  left:2px;
  top:17px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:50px;
}
#u3933 {
  position:absolute;
  left:447px;
  top:50px;
  width:147px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3934 {
  position:absolute;
  left:2px;
  top:17px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:50px;
}
#u3935 {
  position:absolute;
  left:594px;
  top:50px;
  width:134px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3936 {
  position:absolute;
  left:2px;
  top:17px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:50px;
}
#u3937 {
  position:absolute;
  left:728px;
  top:50px;
  width:159px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3938 {
  position:absolute;
  left:2px;
  top:17px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:50px;
}
#u3939 {
  position:absolute;
  left:0px;
  top:100px;
  width:298px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u3940 {
  position:absolute;
  left:2px;
  top:11px;
  width:294px;
  word-wrap:break-word;
}
#u3941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:50px;
}
#u3941 {
  position:absolute;
  left:298px;
  top:100px;
  width:149px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3942 {
  position:absolute;
  left:2px;
  top:17px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:50px;
}
#u3943 {
  position:absolute;
  left:447px;
  top:100px;
  width:147px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3944 {
  position:absolute;
  left:2px;
  top:17px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:50px;
}
#u3945 {
  position:absolute;
  left:594px;
  top:100px;
  width:134px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3946 {
  position:absolute;
  left:2px;
  top:17px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:50px;
}
#u3947 {
  position:absolute;
  left:728px;
  top:100px;
  width:159px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3948 {
  position:absolute;
  left:2px;
  top:17px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:50px;
}
#u3949 {
  position:absolute;
  left:0px;
  top:150px;
  width:298px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u3950 {
  position:absolute;
  left:2px;
  top:11px;
  width:294px;
  word-wrap:break-word;
}
#u3951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:50px;
}
#u3951 {
  position:absolute;
  left:298px;
  top:150px;
  width:149px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3952 {
  position:absolute;
  left:2px;
  top:17px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:50px;
}
#u3953 {
  position:absolute;
  left:447px;
  top:150px;
  width:147px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3954 {
  position:absolute;
  left:2px;
  top:17px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:50px;
}
#u3955 {
  position:absolute;
  left:594px;
  top:150px;
  width:134px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3956 {
  position:absolute;
  left:2px;
  top:17px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:50px;
}
#u3957 {
  position:absolute;
  left:728px;
  top:150px;
  width:159px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3958 {
  position:absolute;
  left:2px;
  top:17px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:50px;
}
#u3959 {
  position:absolute;
  left:0px;
  top:200px;
  width:298px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u3960 {
  position:absolute;
  left:2px;
  top:11px;
  width:294px;
  word-wrap:break-word;
}
#u3961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:50px;
}
#u3961 {
  position:absolute;
  left:298px;
  top:200px;
  width:149px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3962 {
  position:absolute;
  left:2px;
  top:17px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:50px;
}
#u3963 {
  position:absolute;
  left:447px;
  top:200px;
  width:147px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3964 {
  position:absolute;
  left:2px;
  top:17px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:50px;
}
#u3965 {
  position:absolute;
  left:594px;
  top:200px;
  width:134px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3966 {
  position:absolute;
  left:2px;
  top:17px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:50px;
}
#u3967 {
  position:absolute;
  left:728px;
  top:200px;
  width:159px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3968 {
  position:absolute;
  left:2px;
  top:17px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:50px;
}
#u3969 {
  position:absolute;
  left:0px;
  top:250px;
  width:298px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u3970 {
  position:absolute;
  left:2px;
  top:11px;
  width:294px;
  word-wrap:break-word;
}
#u3971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:50px;
}
#u3971 {
  position:absolute;
  left:298px;
  top:250px;
  width:149px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3972 {
  position:absolute;
  left:2px;
  top:17px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:50px;
}
#u3973 {
  position:absolute;
  left:447px;
  top:250px;
  width:147px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3974 {
  position:absolute;
  left:2px;
  top:17px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:50px;
}
#u3975 {
  position:absolute;
  left:594px;
  top:250px;
  width:134px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3976 {
  position:absolute;
  left:2px;
  top:17px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:50px;
}
#u3977 {
  position:absolute;
  left:728px;
  top:250px;
  width:159px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3978 {
  position:absolute;
  left:2px;
  top:17px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:50px;
}
#u3979 {
  position:absolute;
  left:0px;
  top:300px;
  width:298px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u3980 {
  position:absolute;
  left:2px;
  top:11px;
  width:294px;
  word-wrap:break-word;
}
#u3981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:50px;
}
#u3981 {
  position:absolute;
  left:298px;
  top:300px;
  width:149px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3982 {
  position:absolute;
  left:2px;
  top:17px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:50px;
}
#u3983 {
  position:absolute;
  left:447px;
  top:300px;
  width:147px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3984 {
  position:absolute;
  left:2px;
  top:17px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:50px;
}
#u3985 {
  position:absolute;
  left:594px;
  top:300px;
  width:134px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3986 {
  position:absolute;
  left:2px;
  top:17px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:50px;
}
#u3987 {
  position:absolute;
  left:728px;
  top:300px;
  width:159px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3988 {
  position:absolute;
  left:2px;
  top:17px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:50px;
}
#u3989 {
  position:absolute;
  left:0px;
  top:350px;
  width:298px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u3990 {
  position:absolute;
  left:2px;
  top:11px;
  width:294px;
  word-wrap:break-word;
}
#u3991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:50px;
}
#u3991 {
  position:absolute;
  left:298px;
  top:350px;
  width:149px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3992 {
  position:absolute;
  left:2px;
  top:17px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:50px;
}
#u3993 {
  position:absolute;
  left:447px;
  top:350px;
  width:147px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3994 {
  position:absolute;
  left:2px;
  top:17px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:50px;
}
#u3995 {
  position:absolute;
  left:594px;
  top:350px;
  width:134px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3996 {
  position:absolute;
  left:2px;
  top:17px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:50px;
}
#u3997 {
  position:absolute;
  left:728px;
  top:350px;
  width:159px;
  height:50px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3998 {
  position:absolute;
  left:2px;
  top:17px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3999 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u4000 {
  position:absolute;
  left:230px;
  top:161px;
  width:47px;
  height:47px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4000_img.mouseDown {
}
#u4000.mouseDown {
}
#u4000_img.selected {
}
#u4000.selected {
}
#u4001 {
  position:absolute;
  left:2px;
  top:10px;
  width:43px;
  word-wrap:break-word;
}
#u4002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4002 {
  position:absolute;
  left:287px;
  top:176px;
  width:105px;
  height:14px;
}
#u4002_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:14px;
  background:inherit;
  background-color:rgba(19, 135, 185, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4002.mouseDown {
}
#u4002_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:14px;
  background:inherit;
  background-color:rgba(19, 135, 185, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4002.selected {
}
#u4003 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u4004 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4005 {
  position:absolute;
  left:1024px;
  top:294px;
  width:63px;
  height:16px;
}
#u4006 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4005_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4007 {
  position:absolute;
  left:1024px;
  top:344px;
  width:63px;
  height:16px;
}
#u4008 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4007_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4009 {
  position:absolute;
  left:1024px;
  top:395px;
  width:63px;
  height:16px;
}
#u4010 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4009_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4011 {
  position:absolute;
  left:1024px;
  top:445px;
  width:63px;
  height:16px;
}
#u4012 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4011_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4013 {
  position:absolute;
  left:877px;
  top:294px;
  width:63px;
  height:16px;
}
#u4014 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4013_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4015 {
  position:absolute;
  left:877px;
  top:344px;
  width:63px;
  height:16px;
}
#u4016 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4015_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4017 {
  position:absolute;
  left:877px;
  top:395px;
  width:63px;
  height:16px;
}
#u4018 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4017_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4019 {
  position:absolute;
  left:877px;
  top:445px;
  width:63px;
  height:16px;
}
#u4020 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4019_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4021 {
  position:absolute;
  left:736px;
  top:294px;
  width:63px;
  height:16px;
}
#u4022 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4021_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4023 {
  position:absolute;
  left:736px;
  top:344px;
  width:63px;
  height:16px;
}
#u4024 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4023_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4025 {
  position:absolute;
  left:736px;
  top:395px;
  width:63px;
  height:16px;
}
#u4026 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4025_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4027 {
  position:absolute;
  left:736px;
  top:445px;
  width:63px;
  height:16px;
}
#u4028 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4027_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4029 {
  position:absolute;
  left:587px;
  top:294px;
  width:63px;
  height:16px;
}
#u4030 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4029_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4031 {
  position:absolute;
  left:587px;
  top:344px;
  width:63px;
  height:16px;
}
#u4032 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4031_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4033 {
  position:absolute;
  left:587px;
  top:395px;
  width:63px;
  height:16px;
}
#u4034 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4033_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4035 {
  position:absolute;
  left:587px;
  top:445px;
  width:63px;
  height:16px;
}
#u4036 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4035_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4037 {
  position:absolute;
  left:1024px;
  top:496px;
  width:63px;
  height:16px;
}
#u4038 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4037_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4039 {
  position:absolute;
  left:877px;
  top:496px;
  width:63px;
  height:16px;
}
#u4040 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4039_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4041 {
  position:absolute;
  left:736px;
  top:496px;
  width:63px;
  height:16px;
}
#u4042 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4041_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4043 {
  position:absolute;
  left:587px;
  top:496px;
  width:63px;
  height:16px;
}
#u4044 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4043_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4045 {
  position:absolute;
  left:1024px;
  top:547px;
  width:63px;
  height:16px;
}
#u4046 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4045_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4047 {
  position:absolute;
  left:877px;
  top:547px;
  width:63px;
  height:16px;
}
#u4048 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4047_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4049 {
  position:absolute;
  left:736px;
  top:547px;
  width:63px;
  height:16px;
}
#u4050 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4049_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4051 {
  position:absolute;
  left:587px;
  top:547px;
  width:63px;
  height:16px;
}
#u4052 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4051_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4053 {
  position:absolute;
  left:1024px;
  top:595px;
  width:63px;
  height:16px;
}
#u4054 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4053_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4055 {
  position:absolute;
  left:877px;
  top:595px;
  width:63px;
  height:16px;
}
#u4056 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4055_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4057 {
  position:absolute;
  left:736px;
  top:595px;
  width:63px;
  height:16px;
}
#u4058 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4057_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4059 {
  position:absolute;
  left:587px;
  top:595px;
  width:63px;
  height:16px;
}
#u4060 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4059_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4061 {
  position:absolute;
  left:740px;
  top:671px;
  width:140px;
  height:40px;
}
#u4062 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u4063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4063 {
  position:absolute;
  left:498px;
  top:671px;
  width:140px;
  height:40px;
}
#u4064 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
